# ignore all
/*
/.*
!README.md
!bin

#  in .ssh
!/.ssh
/.ssh/*
!/.ssh/config

# for zsh
!.login
!.zshrc
!.zshenv
!.zsh/

# for vim
!.vimrc
!.vim/
.vim/*
!.vim/snippets/

!src
src/*
!src/dict
!src/doc
!src/README
!src/neobundle

# for tmux
!.tmux.conf
!.tmux-powerlinerc
!src/tmux-powerline
# for stags
!.ctags

# for ruby
!.rbenv
!.rbenv/plugins
!.rbenv/plugins/ruby-build

