# ignore all
/*
/.*

#  in .ssh
!/.ssh
/.ssh/*
!/.ssh/config

# for zsh
!.login
!.zshrc
!.zshenv
!.zsh/

# for vim
!.vimrc
!.vim/
.vim/*
!.vim/snippets/

!src
src/*
!src/dict
!src/README
!src/neobundle

# for tmux
!.tmux.conf

# for stags
!.ctags
